*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background-color: #e3e6e6;
    color: #0f1111;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    padding: 15px 25px;
}

.delivery-location{
    display: flex;
    align-items: end;
    margin-left: 15px;
    color: #e3e6e6;
    font-size: 10px;
}

.search-bar{
    flex: 1;
    display: flex;
    align-items: center;
    background: white;
    color: gray;
    max-width: 1200px;
    border-radius: 4px;
    margin-left: 15px;
}

.search-bar-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background-color: #e6e6e6;
    border-radius: 4px 0 0 4px;
}

.search-bar-category p{
    font-weight: 600;
}

.search-bar-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.search-bar-icon{
    max-width: 41px;
    padding: 8px;
    background-color: #f3a847;
    border-radius: 0 4px 4px 0;
}

.language-selector{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.language-selector p{
    color: white;
}

.account-info{
    margin-left: 15px;
    color: white;
    font-size: 10px;
}

.cart-container{
    display: flex;
    align-items: center;
    margin: 0px 15px;
    color: white;
    font-size: 13px;
}

.bottom-nav{
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    padding: 7px 25px;
    font-size: 14px;
    gap: 18px;
}

.bottom-nav div{
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 600;
}

.bottom-nav img,
.bottom-nav p{
    cursor: pointer;
}

.hero-slider ul{
    display: flex;
    overflow-y: hidden;
}

.hero-slider img{
    max-width: 100%;
}

.hero-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 50px;
    cursor: pointer;
}

.slider-control-next{
    right: 0;
}

.hidden{
    display: none;
}

.product-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 70px;
}

.product-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background-color: white;
    max-width: 24%;
    min-height: 200px;
}

.product-col a{
    font-size: 13px;
    font-weight: 700;
    color: #037c91;
    transition: 0.4s ease-in-out;
}

.product-col a:hover{
    color: #cc260c;
    text-decoration: underline;
}

.header-box{
    margin-top: -50vh;
}

.products-slider{
    background-color: white;
    /* margin: 0 30px; */
    padding: 20px;
    margin: 20px 70px;
}

.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .products img{
    max-width: 200px;
    max-height: 200px;
}

.products-slider .products::-webkit-scrollbar{
    display: none;
}

.products-slider-with-price{
    background-color: white;
    /* margin: 0 30px; */
    padding: 20px;
    margin: 20px 70px;
}

.products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin: 20px 0;
}

.products-slider-with-price .products::-webkit-scrollbar{
    display: none;
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background-color: white;
}

.product-card img{
    width: 110px;
    margin: 0 50px;
}

.product-offer p{
    background-color: #cc0c39;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 3px;
    margin: 7px 0;
}

.product-offer span{
    font-size: 12px;
    font-weight: 800;
    color: #cc0c39;
}

.product-price{
    color: #0f1111;
    font-size: 12px;
    font-weight: 500;
}

.product-price span{
    font-size: 20px;
}

.product-price h4{
    font-size: 14px;
}

footer{
    margin-top: 15px;
}

.back-to-top{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.footer-menu{
    background-color: #232f3e;
    height: 350px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer-menu ul{
    margin-top: 35px;
}

ul p{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 25px;
}

ul a{
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-top: 13px;
    transition: 0.4s ease-in-out;
}

ul a:hover{
    text-decoration: underline;
}

.footer-copyright{
    background-color: #232f3e;
    color: white;
    font-size: 14px;
    border-top: 0.3px solid #686868;
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    align-items: center;
}